:root{
	--background-color: rgb(200,200,200);
	--accent-color: rgb(40,90,150);
	--second-accent-color:rgb(200,100,100); 	/*reddish*/
	--form-background-color:rgb(230,230,230);
}
@font-face{
	font-family:Comfortaa-Light;
	src: url('Comfortaa-Light.ttf');
}
@font-face{
	font-family:Comfortaa-Regular;
	src: url('Comfortaa-Regular.ttf');
}
@font-face{
	font-family:Comfortaa-Bold;
	src: url('Comfortaa-Bold.ttf');
}
@font-face{
	font-family:Expressway;
	src: url('expressway rg.ttf');
}
@font-face{
	font-family:Street;
	src: url('STREET__.ttf');
}
body{
	font-family: Comfortaa-Light;
	background-color:var(--background-color);
}
#ohq{
	font-family:Comfortaa-Regular;
	letter-spacing:5px;
	font-size: 55pt;
	color:var(--accent-color);
}
#ohq:hover{
	cursor:pointer;
}
#tagline{
	font-family:Comfortaa-Light;
	font-size:25pt;
	color:var(--second-accent-color);
	padding-bottom: 40px;
	letter-spacing:1px;
}
.taStudOption {
	font-family:Comfortaa-Light;
	width:90%;
	height:50vh;
	font-size:50pt;

	background-color:var(--background-color);
	border:solid 4px var(--accent-color);	
	border-radius:15px;
	line-height:45vh;

	color:var(--accent-color);
	letter-spacing:2px;

	padding-bottom: 15px;
}
.taStudOption:hover{
	background-color:var(--accent-color);
	color:var(--background-color);

	text-decoration: none;

	-webkit-transition: background-color 800ms ease, color 800ms ease;
    -moz-transition: background-color 800ms ease, color 800ms ease;
    -o-transition: background-color 800ms ease, color 800ms ease;
    transition: background-color 800ms ease, color 800ms ease;
   
}

.taStudOption:active{
	border:solid 4px var(--accent-color);

}
.btn-primary:hover{
	/*color:red;*/
	background-color:transparent; !important;
}
.btn-primary:active{
	color:red;
}
/*------------ta page style----------------*/
.table{
	width:80%;
	margin-left:10%;

}
table th {
font-family: Street;
	text-transform:uppercase;
	border:none !important;
	font-size:14pt;
	letter-spacing:2px;
	color:var(--accent-color);
}
thead tr{
	border-bottom:2px solid var(--accent-color);
}
tbody tr {
	font-family:Expressway;
	font-size:14pt;
}
tbody td{
	border:none !important;
}
#numTaText{
	margin-top:25px;
	font-family:Street;
	font-size:15pt;
	color:var(--second-accent-color);
	border:2px solid var(--second-accent-color);
	height:100%;
	border-radius:10px;
}
#numTa{
	font-size:45px;
	padding-left: 8px;
	padding-right:8px;
}
#plusTa, #minusTa{
	font-size: 30px;

}
#plusTa:hover, #minusTa:hover{
	cursor:pointer;
}
/*------------form page style--------------*/
form{
	font-family: Expressway;
	color:var(--accent-color);

}
input{
	color:var(--background-color);
	width:20%;
}
.form-control:focus{
	color:rgb(10,10,10);
}
.form-control, #issueForm div{
	width:40%;
	margin-left:30%;

}
.form-control{
	background-color:var(--form-background-color);
}
.lilButtons{
	padding:5px;
	margin:5px;
}
.lilButtons:hover {
	cursor:pointer;


}
#button{
	font-size:14pt;

	color:var(--second-accent-color);
	background-color:var(--background-color);
	border:2px solid var(--second-accent-color);
}
#button:hover{
	background-color:var(--form-background-color);

	-webkit-transition: background-color 400ms ease;
    -moz-transition: background-color 400ms ease;
    -o-transition:background-color 400ms ease;
    transition:background-color 400ms ease;
}
/*-----form submitted style----------*/
.submitted{
	font-family: Expressway;
	font-size:15pt;

}

#state{
	display:none;
}

