:root{
	--background-color: rgb(200,200,200);
	--accent-color: rgb(40,90,150);
	--second-accent-color:rgb(200,100,100); 	/*reddish*/

}
@font-face{
	font-family:Comfortaa-Light;
	src: url('Comfortaa-Light.ttf');
}
@font-face{
	font-family:Comfortaa-Regular;
	src: url('Comfortaa-Regular.ttf');
}
@font-face{
	font-family:Comfortaa-Bold;
	src: url('Comfortaa-Bold.ttf');
}
@font-face{
	font-family:Expressway;
	src: url('expressway rg.ttf');
}
body{
	font-family: Comfortaa-Light;
	background-color:var(--background-color);
}
#ohq{
	font-family:Comfortaa-Regular;
	letter-spacing:5px;
	font-size: 55pt;
	color:var(--accent-color);
}
#tagline{
	font-size:25pt;
	color:var(--second-accent-color);
	padding-bottom: 15px;
	letter-spacing:1px;
}
.taStudOption {
	font-family:Comfortaa-Light;
	width:90%;
	height:50vh;
	font-size:50pt;
	/*background-color:rgb(40,90,150);*/
	background-color:var(--background-color);

	line-height:45vh;
	border:none;
	color:var(--accent-color);
	letter-spacing:2px;
	border:solid 4px var(--accent-color);
	padding-bottom: 15px;
}
.taStudOption:hover{
	background-color:var(--accent-color);
	color:var(--background-color);
	border:solid 4px var(--accent-color);

	-webkit-transition: background-color 800ms ease, color 800ms ease;
    -moz-transition: background-color 800ms ease, color 800ms ease;
    -o-transition: background-color 800ms ease, color 800ms ease;
    transition: background-color 800ms ease, color 800ms ease;
   
}
.taStudOption:active{
	border:solid 4px var(--accent-color);

}
.table{

	width:80%;
	margin-left:10%;
	font-family: Expressway;

}
table th {
	font-family:Comfortaa-Light;
	text-transform:uppercase;
	border:none !important;
	font-size:16pt;
	letter-spacing:2px;
	background-color:var(--accent-color);
	color:var(--background-color);
	border:2px solid var(--accent-color);

}
tbody tr {
	/*border:2px solid var(--accent-color);*/
	font-size:14pt;

}
tbody td{
	border:none !important;


}